<!doctype html>
<html>
  <head>
    <title>Ubah Password</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h1>Change Password</h1>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}

      <div class="alert alert-{{ category }}">{{ message }}</div>

      {% endfor %} {% endif %} {% endwith %}

      <form action="/change_password" method="POST">
        <!-- CSRF TOKEN -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <!-- OLD PASSWORD -->
        <input
          type="password"
          name="old_password"
          id="old_password"
          placeholder="Old Password"
          required
        />

        <!-- NEW PASSWORD -->
        <input
          type="password"
          name="new_password"
          id="new_password"
          placeholder="New Password"
          required
        />

        <!-- SHOW/HIDE PASSWORD -->
        <div class="show-password">
          <span onclick="togglePassword()"> Show/Hide Password </span>
        </div>

        <!-- BUTTON -->
        <button type="submit">Change Password</button>
      </form>

      <div class="center">
        <br />

        <a href="/dashboard"> Back to Dashboard </a>
      </div>
    </div>

    <script>
      function togglePassword() {
        let oldPassword = document.getElementById("old_password");

        let newPassword = document.getElementById("new_password");

        // jika hidden
        if (oldPassword.type === "password") {
          oldPassword.type = "text";

          newPassword.type = "text";
        } else {
          oldPassword.type = "password";

          newPassword.type = "password";
        }
      }
    </script>
  </body>
</html>
