<!doctype html>
<html>
<head>

    <title>Dashboard</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

</head>

<body>

    <div class="container center">

        <h1>Dashboard</h1>

        <div class="info-box">

            <h2>Welcome, {{ username }}</h2>

            <p>Status: Sedang Aktif </p>

        </div>

        <br>

        <a href="/logout">
            <button>Logout</button>
        </a>

        <br><br>

        <a href="/change_password">
            <button>Change Password</button>
        </a>

        <br><br>

        <a
            href="/delete_account"
            onclick="return confirm('Yakin ingin menghapus akun?')"
        >
            <button>Delete Account</button>
        </a>

    </div>

</body>
</html>