<!doctype html>
<html>
  <head>
    <title>Forgot Password</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <script>
    function togglePassword() {
      let password1 = document.getElementById("new_password");

      let password2 = document.getElementById("confirm_password");

      // kalau password masih hidden
      if (password1.type === "password") {
        password1.type = "text";

        password2.type = "text";
      } else {
        password1.type = "password";

        password2.type = "password";
      }
    }
  </script>

  <body>
    <div class="container">
      <h1>Forgot Password</h1>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}

      <div class="alert alert-{{ category }}">{{ message }}</div>

      {% endfor %} {% endif %} {% endwith %}

      <form action="/forgot_password" method="POST">
        <!-- USERNAME -->
        <input
          type="text"
          name="username"
          placeholder="Username"
          required
          value="{{ username if username else '' }}"
        />

        <!-- JIKA QUESTION SUDAH ADA -->
        {% if security_question %}

        <!-- TAMPILKAN QUESTION -->
        <div class="info-box">
          <strong> Security Question: </strong>

          <br /><br />

          {{ security_question }}
        </div>

        <!-- SECURITY ANSWER -->
        <input
          type="text"
          name="security_answer"
          placeholder="Jawaban Security Question"
          required
        />

        <!-- NEW PASSWORD -->
        <input
          type="password"
          name="new_password"
          id="new_password"
          placeholder="Password Baru"
          required
        />

        <!-- CONFIRM PASSWORD -->
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="Konfirmasi Password Baru"
          required
        />

        <div class="show-password">
          <span onclick="togglePassword()"> Show/Hide Password </span>
        </div>

        <!-- RESET BUTTON -->
        <button type="submit">Reset Password</button>

        {% else %}

        <!-- CONTINUE BUTTON -->
        <button type="submit">Continue</button>

        {% endif %}
      </form>

      <div class="center">
        <br />

        <a href="/login"> Back to Login </a>
      </div>
    </div>
  </body>
</html>
