<!doctype html>
<html>
  <head>
    <title>Login</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <script>
    function togglePassword() {
      let password = document.getElementById("password");

      if (password.type === "password") {
        password.type = "text";
      } else {
        password.type = "password";
      }
    }
  </script>
  <body>
    <div class="container">
      <h1>Login</h1>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}

      <div class="alert alert-{{ category }}">{{ message }}</div>

      {% endfor %} {% endif %} {% endwith %}

      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />

        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
        <div class="show-password">
          <span onclick="togglePassword()"> Show/Hide Password </span>
        </div>

        <button type="submit">Login</button>
      </form>

      <div class="center">
        <br />

        <a href="/"> Belum punya akun? Register </a>
      </div>
    </div>
  </body>
</html>
