<!doctype html>
<html>
  <head>
    <title>Register</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h1>Register</h1>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}

      <div class="alert alert-{{ category }}">{{ message }}</div>

      {% endfor %} {% endif %} {% endwith %}

      <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required />

        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />

        <div id="strength-text"></div>

        <div class="show-password">
          <span onclick="togglePassword()"> Show/Hide Password </span>
        </div>

        <button type="submit">Register</button>
      </form>

      <div class="center">
        <br />

        <a href="/login"> Sudah punya akun? Login </a>
      </div>
    </div>

    <script>
      function togglePassword() {
        let password = document.getElementById("password");

        if (password.type === "password") {
          password.type = "text";
        } else {
          password.type = "password";
        }
      }
    </script>
    <script>
      let passwordInput = document.getElementById("password");

      let strengthText = document.getElementById("strength-text");

      passwordInput.addEventListener("input", function () {
        let password = passwordInput.value;

        let strength = 0;

        // minimal 8 karakter
        if (password.length >= 8) {
          strength++;
        }

        // huruf besar
        if (/[A-Z]/.test(password)) {
          strength++;
        }

        // angka
        if (/[0-9]/.test(password)) {
          strength++;
        }

        // simbol
        if (/[!@#$%^&*()_+\-=]/.test(password)) {
          strength++;
        }

        // hasil strength
        if (strength <= 1) {
          strengthText.innerHTML = "❌ Password Lemah!";
          strengthText.style.color = "#ef4444";
        } else if (strength <= 3) {
          strengthText.innerHTML = "⚠️ Password Sedang!";
          strengthText.style.color = "#facc15";
        } else {
          strengthText.innerHTML = "✅ Password Kuat";
          strengthText.style.color = "#4ade80";
        }
      });
    </script>
  </body>
</html>
